@charset "UTF-8";

@font-family{ 
	font: "css/bandi.ttf";
}

body {
	background-image: url("css/bluesky.jpg");
	background-repeat: no-repeat;
	background-position: top;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#siteTitle {
	color: purple;
	font-size: 40pt;
	
}
